/***************************
    CUSTOM SCROLL BAR
****************************/
*, html{
    scroll-behavior: smooth;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --white:#FFF;
    --black:#000;
    --lite:rgba(255,255,255,0.6);
    --gray:rgba(1,1,1,0.6);
    --dark:#101010;
    --primary:#3399ff;
    --primary_dark:;
    --primary_lite:;
    --secondary:;
    --secondary_dark:;
    --secondary_lite:;
    --default_font:'Nunito Sans', sans-serif;
    --title_font:'Nunito Sans', sans-serif;
}

::-webkit-scrollbar {
    height: 12px;
    width: 4px;
    background: var(--dark);
}

::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-box-shadow: 0px 1px 2px var(--dark);
}

::-webkit-scrollbar-corner {
    background: var(--dark);
}





/***************************
            DEFAULT
****************************/
body{
    margin:0;
    overflow-x:hidden !important;
    font-family: var(--default_font);
}

a{
    text-decoration:none !important;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

a, button{
    transition:0.5s;
}

em{
    font-style:normal;
    color:var(--primary_dark);
}

figure{
    padding:0;
    margin:0;
}

figure img{
    min-width:100%;
    min-height:100%;
    width:100%;
    height:100%;
}

a, p, .btn{
    font-size:15px;
}

p{
    line-height:1.9em;
    color:var(--gray);
}

a, button, input, textarea, select{
    outline:none !important;
}

fieldset{
    border:0;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
}

.title, .sub_title{
    font-family:var(--title_font);
    font-weight:700;
    margin:0;
    color:var(--dark);
}

.flex, .fixed_flex{
    display:flex;
}

.flex_content{
    width:100%;
    position:relative;
}

.grid{
    display:grid;
}

.padding_1x{
    padding:1rem;
}

.padding_2x{
    padding:2rem;
}

.padding_3x{
    padding:3rem;
}

.padding_4x{
    padding:4rem;
}

.big{
    font-size:2.5em;
}

.medium{
    font-size:2em;
}

.small{
    font-size:1.3em;
}

.btn{
    padding:0.8rem 2rem;
    border-radius:40px;
    position:relative;
    border:0;
    text-align:center;
    font-weight:500;
}

.btn_1{
    background:var(--primary);
    color:var(--white);
}

.btn_1:hover{
    box-shadow: 0px 16px 48px #00000029;
}

.divisions{
    position:relative;
}

.title_header{
    margin:auto;
    text-align:center;
    width:80%;
}

.overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:var(--gray);
    z-index:11;
}

@media (max-width:920px){
    .flex{
        flex-wrap:wrap;
    }
    
    .padding_1x, .padding_2x, .padding_3x, .padding_4x{
        padding:1rem;
    }
    
    .big{
        font-size:1.6em;
    }
    
    .medium{
        font-size:1.1em;
    }
    
    .small{
        font-size:0.8em;
    }
    
    .btn{
        padding:0.5rem 1rem;
    }
    
    a, p, .btn{
        font-size:12px;
    }
    
    .title_header{
        width:100%;
    }
}



/***************************
            NAV
****************************/
nav{
    border-bottom:1px solid var(--gray);
}

nav section{
    position:relative;
    align-items:center;
    justify-content:center;
    white-space:nowrap;
    width:100%;
    background-color:var(--white);
    z-index:99;
}

nav a, .dropdown strong{
    position:relative;
    margin:0 1rem;
    padding:0.5rem;
    color:var(--gray);
    font-weight:500;
    transition:0.5s;
    font-size:14px;
}

nav a:hover, .dropdown strong:hover{
    color:var(--dark);
}

.dropdown{
    position:relative;
}

.dropdown strong:after{
    content:"\f107";
    font-family:"FontAwesome";
    margin-left:0.5rem;
    color:var(--gray);
}

.dropdown strong:hover:after{
    content:"\f106";
}

.dropdown_content{
    display:none;
    top:100%;
    left:50%;
    transform:translate(-50%, 0.5rem);
    background-color:var(--white);
    position:absolute;
    margin:0;
    padding:0.5rem;
    box-shadow:0px 6px 16px -6px var(--gray);
    z-index:9;
}

.dropdown:hover .dropdown_content{
    display:block;
}

.dropdown_content li{
    padding:0.5rem;
    list-style:none;
}

.dropdown_content li a{
    display:block;
    margin:0;
    padding:0;
}

@media (max-width:920px){
    nav{
        text-align:right;
    }
    
    nav section{
        display:block !important;
        height:100vh;
        position:fixed;
        top:0;
        left:-100%;
        width:200px;
        box-shadow:0px 6px 16px -6px var(--gray);
        transition:0.5s;
    }
    
    nav a, .dropdown strong{
        display:block;
        margin:0;
        padding:0.5rem 1rem;
        width:100%;
        text-align:left;
    }
    
    nav a:hover, .dropdown strong:hover{
        background-color:#f1f1f1;
    }
    
    .dropdown_content{
        position:relative;
        left:0;
        transform:none;
        width:100%;
        box-shadow:none;
        background-color:#f1f1f1;
    }
    
    .dropdown_content li{
        padding-left:2rem;
    }
    
    .dropdown_content li a:before{
        content:"\f0da";
        font-family:"FontAwesome";
        margin-right:0.5rem;
        color:var(--gray);
    }
    
    .ham{
        color:var(--gray);
        width:fit-content;
        cursor:pointer;
        transition:0.5s;
    }
    
    .ham:hover{
        color:var(--dark);
    }
}





/***************************
          FOOTER
****************************/
footer{
    background-color:var(--dark);
    align-items:center;
    justify-content:center;
}

footer p{
    color:var(--lite);
}




/***************************
       SLICK SLIDER
****************************/
.slick-next, .slick-prev{
    padding:2rem;
    color:var(--gray);
    display:flex;
    align-items:center;
    justify-content:center;
    transform:none;
    top:50%;
    background-color:var(--white);
    box-shadow: 0px 7px 17px #00000029;
    border-radius:50%;
}

.slick-next:hover, .slick-prev:hover, .slick-next:focus, .slick-prev:focus{
    background-color:#f1f1f1 !important;
}

.slick-prev{
    left:-6rem !important;
}

.slick-next{
    right:-6rem;
}

.slick-next::before, .slick-prev::before{
    font-family:"FontAwesome";
    color:var(--gray) !important;
    font-size:2rem;
}

.slick-next::before{
    content:"\f105";
}

.slick-prev::before{
    content:"\f104";
}
